html.no-scroll,
body.no-scroll {
  overflow: hidden;
  height: 100%;
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background-color: #fbcfe8;
  border: 4px solid white;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 4px rgba(236, 72, 153, 0.2);
}

@media (min-width: 768px) {
  .timeline-container {
    padding-bottom: 40px;
  }
}

/* Hearts container */
.hearts-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

/* Love hearts container */
.love-heart {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0.7;
  left: 50%;
  bottom: -70px;
  /* Start from below the container */
  transform: translateX(-50%) rotate(-45deg);
  animation: floatUp 6s linear infinite;
  background: red; /* pastel pink, sangat lembut */
}

.love-heart:before,
.love-heart:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: red; /* pastel pink, sangat lembut */

  border-radius: 50%;
}

.love-heart:before {
  top: -25px;
  left: 0;
}

.love-heart:after {
  top: 0;
  left: 25px;
}

@keyframes floatUp {
  0% {
    bottom: -60px;
    opacity: 0.7;
    transform: translateX(-50%) rotate(-45deg);
  }

  30% {
    transform: translateX(-52%) rotate(-45deg);
  }

  60% {
    transform: translateX(-48%) rotate(-45deg);
  }

  100% {
    bottom: 100vh;
    opacity: 0;
    transform: translateX(-50%) rotate(-45deg);
  }
}

/* Multiple hearts */
.love-heart:nth-child(1) {
  left: 20%;
  animation-delay: 0s;
}

.love-heart:nth-child(2) {
  left: 40%;
  animation-delay: 2s;
}

.love-heart:nth-child(3) {
  left: 60%;
  animation-delay: 4s;
}

.love-heart:nth-child(4) {
  left: 80%;
  animation-delay: 1s;
}

.love-heart:nth-child(5) {
  left: 30%;
  animation-delay: 3s;
}
